 #
 # Set this property unless you have explicitly chosen to expose some repository APIs without authentication
 solr.secureComms=https

 #
 # Custom content and index data location
 #
 dir.root=/srv/alfresco/alf_data
 dir.keystore=${dir.root}/keystore

 #
 # Sample database connection properties
 #
 db.username={{ alfresco_db_user }}
 db.password={{ alfresco_db_pswd }}

 #
 # Choose DB connection properties for your database, e.g. for PostgreSQL
 #
 db.driver=org.postgresql.Driver
 db.url=jdbc:postgresql://127.0.0.1:5432/alfresco

 #
 # URL Generation Parameters (The ${localname} token is replaced by the local server name)
 #-------------
 alfresco.context=alfresco
 alfresco.host={{ alfresco_domain }}
 alfresco.port=8080
 alfresco.protocol=http
 share.context=share
 share.host={{ alfresco_domain }}
 share.port=8080
 share.protocol=http